.page-article {
    position: relative;
    left: 100px;
    display: grid;
    grid-template-columns: 1fr 260px;
    gap: 30px;
    max-width: 1000px;
    margin: 10px auto 30px auto;
    border-radius: 25px;
    h1 {
        margin: 0 50px 20px 0;
        font-size: 40px;
    }
    &.no-navigation {
        left: 0;
        grid-template-columns: 1fr;
        max-width: 700px;
    }
    h3 {
        margin: 12px 0 0 0;
    }
    a:not(.article-content_link) {
        display: block;
        width: fit-content;
        margin: 7px 0;
        font-size: 17px;
        text-decoration: underline;
        text-decoration-color: var(--text-decoration-color-1);
        transition: .2s ease;
        &:hover,
        &:focus-visible {
            text-decoration-color: var(--text-decoration-color-2);
            color: var(--text-color-3);
        }
    }
    h2 {
        position: relative;
        margin: 15px 0 10px 0;
        a {
            text-decoration: none !important;
            font-size: 23px !important;
            &::after {
                position: absolute;
                top: calc(100% - 25px);
                content: "#";
                font-size: 19px;
                color: var(--text-color-2);
                opacity: 0;
            }
            &:hover,
            &:focus-visible {
                color: var(--text-color-1);
                text-decoration: underline !important;
                &::after {
                    opacity: 1;
                }
            }
        }
    }
    li {
        font-size: 17px;
        margin: 3px 0;
    }
    p {
        margin: 8px 0;
        &.text {
            margin: 18px 0 10px 0;
            font-size: 18px;
        }
    }
    img {
        width: 100%;
        height: 100%;
        min-width: 0;
        min-height: 0;
        border-radius: 15px;
        box-shadow: 0 3px 12px #00000022;
        background: var(--bg-color-25);
        object-position: center;
        object-fit: cover;
        transition: .2s ease;
        &:hover,
        &:focus-visible {
            cursor: pointer;
            transform: translateY(-3px);
            box-shadow: 0 3px 18px #0000003c;
        }
        &.document {
            aspect-ratio: 1 / 1.41; // 1 / sqrt(2)
        }
    }
    ol {
        margin: 7px 0 10px 0;
    }
    code:not(.hljs) {
        display: block;
        width: fit-content;
        margin: 9px 0;
        padding: 15px 20px;
        border-radius: 15px;
        font-size: 17px;
        font-weight: 500;
        background: var(--bg-color-12);
        color: var(--text-color-1);
        font-family: "Source sans Pro", sans-serif;
    }
    :is(ul, code) a {
        display: inline !important;
    }
    code.hljs {
        display: block;
        max-height: 600px;
        padding: 25px 30px;
        margin: 6px;
        font-family: "JetBrains Mono", sans-serif;
        font-size: 14px;
        font-weight: 700;
        background: none !important;
        overflow-x: auto;
        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
            background: none;
        }
        &::-webkit-scrollbar-track {
            background-color: var(--scrollbar-track-color-1);
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: var(--scrollbar-thumb-color-1);
            &:hover {
                background: var(--scrollbar-thumb-color-2);
            }
        }

    }
    @media print {
        margin-top: 0;
        padding-top: 10px;
    }
}
@media (max-width: 440px) {
    .page-article h1 {
        font-size: clamp(22px, 8vw, 34px);
    }
}
pre {
    max-width: 700px;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid var(--bg-color-7);
    border-radius: 15px;
    @media (max-width: 1260px) {
        max-width: calc(100vw - 400px);
    }
    @media (max-width: 950px) {
        max-width: calc(100vw - 300px);
    }
    @media (max-width: 900px) {
        max-width: calc(100vw - 130px);
    }
    @media (max-width: 630px) {
        max-width: calc(100vw - 30px);
    }
}
.article-content {
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: fit-content;
    max-height: calc(100vh - 200px);
    max-height: calc(100dvh - 200px);
    top: 90px;
    h3 {
        font-size: 19px;
        padding: 0 0 0 18px;
    }
    &.scrolled {
        max-height: calc(100vh - 120px);
        max-height: calc(100dvh - 120px);
    }
}
.article-content_links {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 5px 0 0;
    box-sizing: border-box;
    span {
        position: absolute;
        top: 1px;
        left: 8px;
        width: 4px;
        border-radius: 4px;
        background: var(--bg-color-9);
        transition: .2s ease;
    }
    a {
        position: relative;
        display: inline-flex;
        align-items: center;
        min-height: 30px;
        padding: 5px 15px 5px 18px;
        border-radius: 10px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        transition: .2s ease;
        opacity: .68;
        &:hover {
            opacity: 1;
        }
        &:focus-visible {
            text-decoration: underline;
            opacity: 1;
            outline: #00000000 solid;
        }
        &.active {
            opacity: 1;
        }
    }
}
.page-article_label {
    font-size: 40px;
}
.page-article_img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    box-sizing: border-box;
    margin: 15px 0 0 0;
    &.pic {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
}
.page-article_links {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 5px 0;
}
.page-article_marked {
    display: block;
    margin: 9px 0;
    padding: 15px 20px;
    border-radius: 15px;
    font-size: 17px;
    font-weight: 500;
    background: var(--bg-color-12);
}
.article-content_wrapper {
    overflow-x: hidden;
    overflow-y: visible;
    &::-webkit-scrollbar {
        width: 5px;
        background: none;
    }
    &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track-color-1);
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: var(--scrollbar-thumb-color-1);
        &:hover {
            background: var(--scrollbar-thumb-color-2);
        }
    }
}
.veiw-doc-button {
    display: none;
}
@media (max-width: 1260px) {
    .page-article {
        left: 0;
        max-width: 100%;
        margin: 10px 50px 30px 50px;
        &.no-navigation {
            max-width: 700px;
            margin: 10px auto 30px auto;
        }
    }
}
@media (max-width: 950px) {
    .page-article {
        margin: 10px 0 30px 0;
        &.no-navigation {
            margin: 10px auto 30px auto;
        }
    }
}
@media (max-width: 900px) {
    .page-article {
        grid-template-columns: 1fr;
        margin: 10px 50px 30px 50px;
    }
    .article-content {
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 400px !important;
        padding: 12px;
        border-radius: 15px 15px 0 0;
        background: var(--bg-color-2);
        box-shadow: 0 0 15px #00000021;
        transition: .2s ease;
        visibility: hidden;
        z-index: 2;
        box-sizing: border-box;
        &.active {
            transform: translateY(-100%);
            visibility: visible;
        }
        h3 {
            padding: 0;
            font-size: 20px;
        }
        a {
            font-size: 18px;
            opacity: 1;
            &.active {
                background: var(--bg-color-8);
            }
        }
    }
    .veiw-doc-button.set {
        display: block;
        &.active {
            background-color: var(--bg-color-2);
        }
    }
}
@media (max-width: 768px) and (max-height: 550px) {
    .article-content {
        max-height: calc(100vh - 150px) !important;
        max-height: calc(100dvh - 150px) !important;
    }
}
@media (max-width: 630px) {
    .page-article {
        margin: 10px 0 30px 0;
        &.no-navigation {
            margin: 10px 0 30px 0;
        }
    }
}
@media (max-width: 445px) {
    .veiw-doc-button {
        top: calc(100% - 65px);  
    }
}