@keyframes add-popup {
    0% {
        opacity: 0;
        transform: scale(.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes remove-popup {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(.8);
    }
}