
.redirect {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 728px;
    &_err-icon {
        position: relative;
        display: flex block;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: color-mix(in srgb, var(--text-color-1), #00000070);
        font-family: "JetBrains Mono", sans-serif;
        font-size: 80px;
        font-style: italic;
        color: var(--bg-color-1);
        animation: err-404-border-radius-animation 10s linear infinite;
        &::after {
            position: absolute;
            top: -5px;
            left: -5px;
            content: "";
            width: calc(100% + 7px);
            height: calc(100% + 7px);
            border-radius: 50%;
            background: var(--text-color-1);
            z-index: -1;
            opacity: .25;
            animation: err-404-after-border-radius-animation 10s linear infinite;
        }
        &::before {
            position: absolute;
            top: -5px;
            left: -5px;
            content: "";
            width: calc(100% + 12px);
            height: calc(100% + 12px);
            border-radius: 50%;
            background: var(--text-color-1);
            z-index: -1;
            opacity: .25;
            animation: err-404-after-border-radius-animation 10s linear infinite;
            animation-delay: 5s;
        }
    }
    &_content {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &_err-logo {
        position: relative;
        font-size: 40px;
        &::after {
            position: absolute;
            top: calc(100% + 7px);
            left: 0;
            content: "";
            width: 100%;
            height: 1px;
            background: var(--text-color-1);
            opacity: .5;
        }
    }
    &_content.no-line &_err-logo::after {
        display: none;
    }
    &_links {
        display: flex;
        gap: 10px;
    }
    a {
        display: block;
        width: fit-content;
        font-size: 17px;
        text-decoration: underline;
        text-decoration-color: var(--text-decoration-color-1);
        transition: .2s ease;
        &:hover,
        &:focus-visible {
            text-decoration-color: var(--text-decoration-color-2);
            color: var(--text-color-3);
        }
    }
    @media (max-width: 768px) {
        flex-direction: column;
        &_links {
            justify-content: center;
        }
        &_err-logo::after {
            display: none;
        }
        &_err-logo {
            text-align: center;
        }
    }
}

.dark-theme .redirect_err-icon {
    background: color-mix(in srgb, var(--text-color-1), #ffffff50);
}